$font_type_0: 300 18px/1.16 "Open Sans";


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container_letf {
    display: flex;
    position: relative;
    width: 30%;
    height: 100%;
    object-fit: fill;
}

.container_left_img {
    width: fit_content;
    height: 99vh;
}

.container_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.container_rigth_img {
    position: absolute;
    display: flex;
    width: fit-content;
    right: 0;
    bottom: 0;
}

.container_right_text_voltar {
    position: absolute;
    color: #999;
    right: 0;
    margin: 15px;

    font-style: italic;
    font: $font_type_0;

    text-decoration: underline;
}

.container_login {

    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #191919;
}

.wrap_login {
    display: flex;
    width: 390px;
    border-radius: 10px;

    overflow: hidden;
    padding: 55px 55px 33px 55px;

}

.login_form {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.login_form_left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_form_line {
    align-self: center;
    width: 3px;
    height: 150px;

    background: #EFEDE6;

    margin: 0px 0px 0px 30px;
}

.login_form_rigth {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_form_img {
    align-self: center;
    width: 182px;
    height: 56px;
    flex-shrink: 0;
}

.input_container {
    margin: 20px 0px 20px 0px;
}

.wrap_input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    /*cor da linha de baixo*/
    margin-top: 15px;
    margin-bottom: 30px;
}

.input {
    font-size: clamp(0.56256rem, 1.2vw, 4.688rem);
    color: white;
    line-height: 1.2;
    border: none;
    width: 100%;
    height: 45px;
    background-color: transparent;
}

.focus_input {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    pointer-events: none;
    color: #adadad;
}

.focus_input::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 0px;
    height: 2px;

    transition: all 0.4s;

    background: #391863;
}

.focus_input::after {
    //escritas placeholder
    font-size: clamp(0.56256rem, 1.2vw, 4.688rem);
    color: #999;
    line-height: 1.2;

    content: attr(data_placeholder);

    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;

    padding-left: 5px;

    transition: all 0.5s;
}

/*Animação com o foco da digitação*/
.input:focus {
    outline: 0;
}

.input:focus+.focus_input::after {
    top: -15px;
}

.input:focus+.focus_input::before {
    width: 100%;
}

.has_val+.focus_input::after {
    top: -15px;
}

.has_val+.focus_input::before {
    width: 100%;
}

.container_login_form_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
    border-radius: 0px;
}

.Button_button__iWaxM {
    cursor: pointer;
    height: 4.45vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #391863;
    border: 2px solid #efede6;
    padding: 1.27vw 2.66vw;
    position: relative;
    transition: all 0.3s ease;
    width: auto;
    max-width: 900px;
    max-height: 220px;
    min-height: 40px;
}

.Button_label__U2nSI {
    color: #efede6;
    font-family: "Open Sans_Bold", Helvetica;
    font-size: clamp(0.56256rem, 1.5vw, 4.688rem);
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: 0px;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
}

.text_center {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.txt {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Open sans';
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}