.root {
    background-color: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    gap: 42px 0px;
    overflow: hidden;
    position: relative;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    gap: 76px 0px;
    margin: 0px 59.78% 358px 5.79%;
    position: relative;
    width: 34.43%;
  }
  
  .home__apresentacao {
    display: flex;
    flex-direction: column;
    gap: 11px 0px;
    position: relative;
  }
  
  .home__apresentacao__titulo {
    white-space: nowrap;
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    font: 700 36px/1.16 "Raleway", Helvetica, Arial, serif;
    letter-spacing: 0px;
    margin: 0px auto 0px 0px;
    min-height: 67px;
    width: 56.13%;
  }
  
  .home__apresentacao__subtitulo {
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    font: 400 20px/1.35 "Open Sans", Helvetica, Arial, serif;
    letter-spacing: 0px;
  }
  
  .home__vaga {
    background-color: rgb(212, 212, 212);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.247);
    display: grid;
    margin: 0px auto 0px 0px;
    position: relative;
    width: 100%;
  }  