/* Equipe.module.css */
.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Adicione isto para centralizar horizontalmente os itens */
    justify-content: center;
    width: 80vw; 
    height: 40vh; 
    margin: 0 auto;
    padding: 8.68%;  /* 175px convertidos para % considerando 1728px */
}

.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 4vw; /* ajustado */
    font-weight: 700;
    line-height: 1.25em; /* assumindo tamanho base de 4vw */
    letter-spacing: 0;
    text-align: center;
    color: white;
    text-shadow: 8px 8px 4px #00000080;
    margin-bottom: 4.06em; /* 65px de distância dos cards (assumindo tamanho base de 16px) */
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  /* Isto distribuirá uniformemente o espaço entre os cards */
    width: 100%;
    gap: 8.68%;  /* 150px convertidos para % considerando 1728px */
    margin-bottom: 5em;
    padding-bottom: 15em;
}