.sino-container {
    position: relative; // Conteúdo posicionado relativo
  }
  
  .sino, .sino-hovered {
    position: absolute; // Ambas as imagens são posicionadas absolutas
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease-out;
  }
  
  .sino-hovered {
    opacity: 0; // A imagem hover começa escondida
  
    &.hovered {
      opacity: 1; // Aparece quando a classe hovered é aplicada
    }
  }  