.home__vaga__Card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 9px 0px;
    margin: 0px 0px 17px;
    position: relative;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.247);
    margin: 0px auto 0px 0px;
    padding-bottom: 20px;
  }
  
  .home__vaga__Card__banner {
    border-radius: 5px 5px 0px 0px;
    min-height: 141px;
    object-fit: cover;
    width: 100%;
  }
  
  .home__vaga__Card__Conteudo {
    align-items: center;
    display: flex;
    margin: 0px 15px;
    position: relative;
    flex-wrap: wrap;
  }
  
  .home__vaga__Card__Conteudo__Apresentacao {
    display: flex;
    flex: 1;
    max-width: calc(100% - 140px);
    flex-direction: column;
    gap: 11px 0px;
}
  
  .home__vaga__Card__Conteudo__Apresentacao__Nome {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    font: 700 20px/1.35 "Open Sans", Helvetica, Arial, serif;
    letter-spacing: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}
  
  .home__vaga__Card__Conteudo__Apresentacao__TipoVaga,
  .home__vaga__Card__Conteudo__Apresentacao__Localidade {
    align-items: center;
    display: flex;
    margin: 0px 4px;
    position: relative;
  }
  
  .home__vaga__Card__Conteudo__Apresentacao__TipoVaga__Icone,
  .home__vaga__Card__Conteudo__Apresentacao__Localidade__Icone {
    flex: 0 0 20px;
    height: auto;
    margin: 0px;
    min-height: 18px;
    object-fit: contain;
    width: 20px;
  }
  
  .home__vaga__Card__Conteudo__Apresentacao__TipoVaga__cell,
  .home__vaga__Card__Conteudo__Apresentacao__Localidade__cell {
    white-space: nowrap;
    display: grid;
    flex: 0 0 197px;
  }
  
  .highlight,
  .highlight1 {
    align-items: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-grow: 1;
    font: 400 16px/1.37 "Open Sans", Helvetica, Arial, serif;
    letter-spacing: 0px;
    margin: 0px 0px 0px 5px;
    font-size: 12px;
  }
  
  .home__vaga__Card__Conteudo__spacer {
    flex: 0 1 57px;
  }
  
  .home__vaga__Card__Conteudo__Botao {
    background-color: rgb(75, 36, 123);
    border-radius: 5px;
    max-width: 130px; // Largura máxima para o botão
    margin-left: auto; // Empurra para a direita
    flex: 0 0 auto; // Não permite que o botão cresça, mas permite que ele encolha
    margin-top: -30px;
}
  
  .highlight11 {
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-grow: 1;
    font: 400 16px/1.37 "Open Sans", Helvetica, Arial, serif;
    letter-spacing: 0px;
    margin: 6px 16px;
  }  