.PaginaPrincipal{
    max-width: 100%;
    width: 100%;
    min-height: 100vh; /* substitui height por min-height para permitir que a página cresça se necessário */
    background-color: #191919;
    display: flex; /* garante que todos os itens filhos sejam exibidos em uma coluna e ocupem todo o espaço disponível */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.conteudoInicial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.conteudoInicial.esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.conteudoInicial.direita {
    flex: 1;
}

.estudante {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    background: #191919;
}

@media (max-width: 600px) {
    .conteudoInicial {
        flex-direction: column;
    }

    .conteudoInicial.esquerda {
        order: 2; /* agora exibido depois da imagem */
        flex-direction: column;
    }

    .conteudoInicial.direita {
        order: 1; /* agora exibido antes do texto */
    }

    .estudante {
        height: auto;
        background: #191919;
    }
}

.Divisoria{
    max-width: 100%;
    position: relative;
}

.Escopo {
    flex-grow: 1;
}