.procurar-vagas {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 400;
  transition: color 300ms ease-out;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    color: #4B247B;
  }

  @media (max-width: 600px) {
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
