.sobre {
  font-size: clamp(0.562560rem, 2vw, 4.688rem);
  font-weight: 700;
  transition: color 300ms ease-out;
  cursor: pointer;

  &:hover {
    color: #4B247B;
  }
  @media (max-width: 720px) {
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}