/* Escopo.module.css */
/* Escopo.module.css */
.escopo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: -6.48%; /* 105px convertidos para % considerando 1620px */
}

.fundo {
    width: 100%;
    background-image: url('./Assets/Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}