@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_1: rgba(255, 255, 255, 0.698);
$color_type_1: rgba(255, 255, 255);
$font_type_2: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;

.topo_Pagina__Conteudo__Botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 51px 60.95% 0px 0%;
  position: relative;
  width: 50%;
  @media (max-width: 720px) {
    width: 100%;
  }
}

.titulos_Subtitulo_Cabecalho__Cadastrar__JaSou {
  align-items: center;
  align-self: center;
  color: $color_type_1;
  display: flex;
  font: $font_type_2;
  letter-spacing: -0.5px;
  text-decoration: underline;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  font-style: italic;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.698);
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font: $font_type_2;
    font-style: italic;
    cursor: pointer;
  }
}