@use "./utils" as *;
@use "./global" as *;
$font_type_0: 700 36px/1.8 "Raleway", Helvetica, Arial, serif; //h1
$font_type_1: 400 24px/1.5 "Open Sans", Helvetica, Arial, serif; //h2
$font_type_2: 700 24px/1.5 "Open Sans", Helvetica, Arial, serif; //h3
$font_type_3: 400 18px/1.3 "Open Sans", Helvetica, Arial, serif; //p

h1 {
    font: $font_type_0;
    color: white;
}

h2 {
    font: $font_type_1;
    color: white;
}

h3 {
    font: $font_type_2;
    color: white;
}

p {
    font: $font_type_3;
    color: white;
}

.main {
    display: flex;
    width: 100vw;
    height: auto;

    justify-content: center;
    flex-direction: row;

    background-color: #191919;
}

.container__left {
    display: flex;
    width: 25%;
    height: auto;

    justify-content: center;
}

.nav {
    display: flex;
    //botões à esqueda da pagina
    width: 20%;
    height: auto;

    position: fixed;
    left: 5%;

    align-items: center;
    flex-direction: column;

    margin-top: 5%;
}

.container__rigth {
    display: flex;
    width: 75%;
    height: auto;

    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.containers {
    display: flex;

    width: 85%; //tamanho dos containers das sections
    height: auto;

    margin-top: 5vh;
    background-color: #3a3a3a;
    padding: 10px 20px;

    border-radius: 10px;
    border: solid 1px #391863;
}