/* QuemSomos.module.css */
.quemSomos {
    padding: 7.19em 6.25em 0; /* 115px top, 100px right/left, assumindo tamanho base de 16px */
    text-align: center;
    box-sizing: border-box; /* Isso garante que o padding seja incluído na largura e altura total */
}

.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 4em; /* 64px, assumindo tamanho base de 16px */
    font-weight: 700;
    line-height: 1.17em; /* 75px, assumindo tamanho base de 64px */
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 3.12em; /* 50px, assumindo tamanho base de 16px */
}

.texto1, .texto2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em; /* 24px, assumindo tamanho base de 16px */
    font-weight: 400;
    line-height: 1.38em; /* 33px, assumindo tamanho base de 24px */
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 3.12em; /* 50px, assumindo tamanho base de 16px */
}

.texto2 {
    margin-bottom: 11.25em; /* 180px, assumindo tamanho base de 16px */
}