.cabecalho {
    display: flex;
    padding: 2vw;
    gap: 2vw;
    position: absolute;
    z-index: 1;
}

.nav {
    display: flex;
    gap: 1vw;
}

.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    color: white;
}

.logo{
    height: 6.634vw;
    width: 21.08vw;
    max-width: 235px;
    max-height: 74px;
}