.minhas-vagas {
  font-size: clamp(14px, 3vw, 24px);
  font-weight: 400;
  transition: color 300ms ease-out;
  cursor: pointer;

  &:hover {
    color: #4B247B;
  }

  @media (max-width: 600px) {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 15px;
  }

}