/* Apresentacao.module.css */
.apresentacao {
    text-align: center;
    padding: 1.25em 1.25em; /* Espaçamento superior e laterais */
    box-sizing: border-box; /* Isso garante que o padding seja incluído na largura e altura total */
}

.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 4em; /* 64px assumindo tamanho base de 16px */
    font-weight: 700;
    line-height: 1.17em; /* 75px assumindo tamanho base de 64px */
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 1.25em; /* Espaço entre o título e o texto */
}

.texto {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em; /* 24px assumindo tamanho base de 16px */
    font-weight: 400;
    line-height: 1.38em; /* 33px assumindo tamanho base de 24px */
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-bottom: 2.44em; /* Espaço entre o texto e os cards */
    padding: 0 1.25em; /* Espaçamento lateral do texto */
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 3.12em; /* Espaçamento lateral dos cards */
}

.divisoria {
    margin-top: 0.78em; /* Espaço entre a divisória e os cards */
    margin-bottom: 1.47em; /* Espaço entre a divisória e a borda inferior */
}