@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(255, 255, 255);

$font_type_0: 700 64px/1.17 "Raleway", Helvetica, Arial, serif;
$font_type_1: 400 24px/1.37 "Open Sans", Helvetica, Arial, serif;
$font_type_2: 1em/1.37 "Open Sans", Helvetica, Arial, serif;
$font_type_3: 700 1em/1.37 "Open Sans", Helvetica, Arial, serif;

.tituloSubtitulo {
  display: flex;
  flex-direction: column;
  gap: 67px 0px;
  position: relative;
}

.titulo {
  align-items: center;
  color: $color_type_0;
  display: flex;
  font: $font_type_0;
  justify-content: center;
  letter-spacing: 0px;
  margin: 0px auto;
  text-align: center;
  width: 55.63%;
  @media (max-width: 600px) {
    font-size: 48px;
  }
  @media (max-width: 400px) {
    font-size: 32px;
  }
}

.subtitulo {
  color: $color_type_0;
  font: $font_type_1;
  letter-spacing: 0px;
  text-align: center;
}

.subtitulo_bold {
  font: $font_type_3;
}