@use "/src/utils.scss" as *;

$color_type_1: rgb(255, 255, 255);
$bg_color_type_1: rgb(217, 217, 217);
$border_radius_type_1: 24.5px 24.5px 24.5px 24.5px;
$font_type_2: 700 24px/1.16 "Raleway", Helvetica, Arial, serif;

.Pesquisa {
    display: flex;
    flex-direction: column;
    gap: 22px 0px;
    width: 26.9vw;
    margin-bottom: 2.58vh;
}

.Pesquisa__Titulo {
    align-items: center;
    color: $color_type_1;
    display: flex;
    font: $font_type_2;
    letter-spacing: 0px;
    @include lg {
      font-size: 20px;
    }
    @include sm {
      font-size: 16px;
    }
    @include tn {
      font-size: 12px;
    }
}

.Pesquisa__Barra {
    background-color: $bg_color_type_1;
    border-radius: $border_radius_type_1;
    display: grid;
    position: relative;
}

.Pesquisa__Barra__Icone {
    flex-grow: 1;
    height: 18px;
    margin: 15px 93.55% 16px 2.58%;
    min-height: 18px;
    object-fit: cover;
    width: 18px;
}