.apresentacao {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  min-height: 1108px;
}

.apresentacao__Conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 111px 0px;
  margin: 47px 5.79%;
  position: relative;
  width: 88.43%;
}