@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

.apresentacao {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 1108px;
  position: relative;
}

.apresentacao__Logo {
  bottom: 84px;
  left: 0px;
  margin: 0px auto;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 882px;
}

.apresentacao__Conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 111px 0px;
  margin: 47px 5.79% 210px;
  position: relative;
  width: 88.43%;
}