@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(255, 255, 255);
$font_type_1: 700 24px/1.37 "Open Sans", Helvetica, Arial, serif;

.topo_Pagina__Conteudo__Cabecalho {
  align-items: center;
  display: flex;
  position: relative;
}
.topo_Pagina__Conteudo__Cabecalho__cell {
  display: flex;
  flex-direction: column;
  min-width: 235px;
  margin-right: 20px;
}
.uniceplac_Logo {
  flex-grow: 1;
  min-height: 74px;
  object-fit: cover;
  width: 100%;
  margin-right: 20px; // Margem à direita adicionada
}
.topo_Pagina__Conteudo__Cabecalho__spacer {
  flex: 1;
}
.cabecalho_Sobre {
  align-items: center;
  color: $color_type_0;
  display: flex;
  flex: 0 0 69px;
  font: $font_type_1;
  letter-spacing: 0px;
  margin: 21px 20px 20px 0px;
  margin-right: 20px; // Margem à direita adicionada
}
.cabecalho_QuemSomos {
  align-items: center;
  color: $color_type_0;
  display: flex;
  flex: 0 0 168px;
  font: $font_type_1;
  letter-spacing: 0px;
  margin: 21px 20px 20px 0px;
  margin-right: 20px; // Margem à direita adicionada
}