.perfil-container {
  border: 2px solid white;
  border-radius: 50%;
  transition: border-color 300ms ease-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-container img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-container.hovered {
  border-color: #4B247B;
}