@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(0, 0, 0);

$bg_color_type_0: rgb(239, 237, 230);

$border_radius_type_0: 10px 10px 10px 10px;

$font_type_0: 700 20px/1.14 "Raleway", Helvetica, Arial, serif;

.card {
  background-color: $bg_color_type_0;
  border-radius: $border_radius_type_0;
  display: flex;
  flex-direction: column;
  margin: 2px 0px 0px;
  outline: 4px solid rgb(0, 0, 0);
  outline-offset: -4px;
  position: relative;
  height: 197px; // Ajuste a altura para 197px
  width: 396px; // Ajuste a largura para 396px
}
.card__icon {
  height: 74px;
  left: 0px;
  margin: 0px auto;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 21px;
  width: 74px;
}
.card__title {
  color: $color_type_0;
  display: flex;
  flex-grow: 1;
  font: $font_type_0;
  justify-content: center;
  letter-spacing: 0px;
  margin: 103px 20px 48px 21px;
  text-align: center;
}