@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;
@use '/src/Pages/Aluno/EditarPerfil/EditarPerfil.module.scss' as *;

.section4 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.info__top {
    width: 100%;
    display: flex;

    justify-content: flex-start;
}

.info_bottom {
    display: flex;

    width: 100%;
    height: auto;
    margin: 10px;
}

.box_area {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: auto;
    padding: 1%;

    border: 1px solid white;
    border-radius: 15px;

    /* Novas regras para todos os elementos adicionados dentro da .box_area */
    >* {
        margin: 5px;
        background-color: #2F2F2F;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}