@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(255, 255, 255);
$font_type_0: 700 64px/1.17 "Raleway", Helvetica, Arial, serif;

.equipe {
  display: flex;
  flex-direction: column;
  gap: 226px 0px;
  margin: 0px 12.76% 0px 12.7%;
  position: relative;
  width: 74.54%;
}

.titulo {
  color: $color_type_0;
  font: $font_type_0;
  letter-spacing: 0px;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4980392156862745);
  text-align: center; // Centraliza o texto
  margin-top: 50px; // Adiciona a margem superior
  @include xxl {
    justify-content: center;
    text-align: center;
  }
  @include lg {
    font-size: 56px;
  }
  @include md {
    font-size: 48px;
  }
  @include sm {
    font-size: 40px;
  }
  @include xs {
    font-size: 36px;
  }
  @include xxs {
    font-size: 32px;
  }
  @include tn {
    font-size: 20px;
  }
}

.membros {
  display: flex;
  justify-content: center; // Centraliza horizontalmente
  align-items: center; // Centraliza verticalmente
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; // ajuste o espaço entre os itens conforme necessário
}