@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(255, 255, 255);
$font_type_0: 700 64px/1.17 "Raleway", Helvetica, Arial, serif;

.equipe {
  display: flex;
  flex-direction: column;
  gap: 226px 0px;
  margin: 0px 12.76% 0px 12.7%;
  position: relative;
  width: 74.54%;
}

.titulo {
  align-items: center;
  color: $color_type_0;
  display: flex;
  font: $font_type_0;
  letter-spacing: 0px;
  margin: 0px 12.47%;
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4980392156862745);
  width: 75.07%;
  @include xxl {
    justify-content: center;
    text-align: center;
  }
  @include lg {
    font-size: 56px;
  }
  @include md {
    font-size: 48px;
  }
  @include sm {
    font-size: 40px;
  }
  @include xs {
    font-size: 36px;
  }
  @include xxs {
    font-size: 32px;
  }
  @include tn {
    font-size: 20px;
  }
}

.membros {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // ajuste o espaço entre os itens conforme necessário

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 100px
  }
}