@use "./utils" as *;
@use "./global" as *;

$bg_color_type_0: rgb(25, 25, 25);

$padding_type_0: undefinedpx undefinedpx undefinedpx undefinedpx;

.main {
  background-color: $bg_color_type_0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: $padding_type_0;
  position: relative;
}
.main__cell {
  display: flex;
  flex-direction: column;
}
.icon {
  bottom: 154px;
  height: 40px;
  object-fit: cover;
  position: absolute;
  right: 3.59%;
  width: 40px;
}