/*Introducao.module.css*/
.introducao {
    padding: 1.1em;
    color: white;
    padding-top: 5em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: -20%;
}

.tituloGrande {
    font-family: 'Raleway', sans-serif;
    font-size: clamp(1.5rem, 3.7vw, 2.5rem); /* uso do clamp para garantir um tamanho mínimo e máximo */
    font-weight: 700;
    line-height: 1.2; /* uso de line-height relativo para garantir que ele se adapte ao tamanho da fonte */
    letter-spacing: 0em;
    margin-top: 2em; /* substitui padding por margin para evitar possíveis problemas de colapso de margem */
    margin-left: 0em;
    width: 80%; /* limita a largura do texto para evitar que ele se estenda demais em telas grandes */
    text-align: left;
}

.textoMenor {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1rem, 1.5vw, 1.5rem); /* uso do clamp para garantir um tamanho mínimo e máximo */
    font-weight: 400;
    line-height: 1.6; /* uso de line-height relativo para garantir que ele se adapte ao tamanho da fonte */
    letter-spacing: 0em;
    margin-top: 2em;
    margin-left: 0em;
    width: 80%; /* limita a largura do texto para evitar que ele se estenda demais em telas grandes */
    text-align: left;
}

.buttonContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; /* alinha o conteúdo à esquerda */
    width: fit-content; /* restringe a largura à do conteúdo */
}

.jaCadastrado {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem; /* ajuste o tamanho conforme necessário */
    font-weight: 400;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.5); /* cinza semi-transparente */
    text-decoration: underline;
    position: relative;
    bottom: 15px; /* ajuste o valor conforme necessário */
    margin-left: 0em;
    align-self: center; /* centraliza o texto em relação ao container */
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}