/* Cards.module.css */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card {
    width: 30.15%; /* Ajustado conforme a relação com a largura total da página do Figma */
    height: auto; 
}

.divisoria {
    margin-top: 5em; /* Espaço entre a divisória e os cards */
    width: 100%;
}
