@use "/src/utils.scss" as *;
@use "/src/global.scss" as *;

$color_type_0: rgb(255, 255, 255);

.topo_Pagina {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 966px;
  position: relative;
}
.topo_Pagina1 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 966px;
  position: relative;
}
.topo_Pagina__Estudante {
  bottom: 0px;
  object-fit: cover;
  position: absolute;
  right: 0%;
  top: 0px;
  width: 909px;
}
.topo_Pagina__Conteudo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 60px 57.75% 256px 5.79%;
  position: relative;
  width: 36.46%;
}